@font-face {
	font-family: 'Gotham'; 
	src: url(./fonts/GothamPro.ttf); 
}

@font-face {
	font-family: 'Gotham light'; 
	src: url(./fonts/GothamPro-Light.ttf); 
}

@font-face {
	font-family: 'Gotham Bold'; 
	src: url(./fonts/GothamPro-Bold.ttf); 
}


@font-face {
    font-family: 'Gotham Black'; 
	src: url(./fonts/GothamPro-Black.ttf);
}
